.textbar{
    width:40em;
    height: 2em;
    border-radius: 10px;
    margin: 10px;
    margin-left:33%;
    padding:5px
}

.buttons{
    width:15em;
    height: 3em;
    border-radius: 10px;
    margin-left: 45%;
    margin-top:1%;
    padding:5px;
    background-color:rgb(240, 236, 236);
    
}

.navicon:hover{
    background-color: rgb(42, 41, 41);
    border-radius: 10px;
}