<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: rgb(127, 214, 243);"> 
    {% if error %}
        <script>
            alert("{{error}}")
        </script>
    {% endif %}
    <h1 style="color:white;text-align:center;">SITENJOY</h1>
    <form action="{{ url_for('index') }}" method="post">
        <input class="textbar" type="text" name="username" placeholder="Enter your user name">
        <input class="textbar" type="password" name="password" placeholder="Enter your password">
        <div>
            <input class="buttons" type="submit" onsubmit="homepage">
        </div>
    </form>
    <a class="buttons" href="{{ url_for('signup') }}">Sign up</a>

</body>
</html>