<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: rgb(127, 214, 243);"> 
    {% if error %}
        <script>
            alert("{{error}}")
        </script>
    {% endif %}
    <h1 style="color:white;text-align:center;">SITENJOY</h1>
    <form method="post"  action="{{ url_for('index') }}">
        <input class="textbar" type="text" name="username" placeholder="Enter your user name">
        <input class="textbar" type="password" name="password" placeholder="Enter your password">
        <div style="display: flex;margin-left:37%">
            <input class="buttons" type="submit" value="Log In">
            <input class="buttons" type="submit" value="Sign Up" formaction="{{ url_for('signup') }}">
        </div>
    </form>
</body>
</html>