<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: rgb(127, 214, 243);"> 
    {% if logout == "True" %}
        <script>
            localStorage.removeItem('user_id');
        </script>
    {% endif %}
    <h1 style="color:white;text-align:center;">SITENJOY</h1>
    <form method="post"  action="{{ url_for('index') }}">
        <input class="textbar" type="text" name="username" placeholder="Enter your user name">
        <input class="textbar" type="password" name="password" placeholder="Enter your password">
        <input class="buttons" type="submit" style="margin-left:38%;margin-top:1%" value="Log In">
        <a class="buttons" style="text-decoration:none;color:black;padding:1% 5%;border:1px solid black;margin-left:53%;margin-top:-2%" href="{{url_for('signup')}}">Sing Up</a>
    </form>
    
</body>
</html>