<!DOCTYPE html>
<head>

</head>
<body  style="background-color: rgb(127, 214, 243);">
    <div style="display:flex;margin-left:5%">
        <h1 style="color:white;flex-basis: 70%;">Booking - Show:{{showdata[1]}} , Venue:{{venuedata[1]}} </h1>
        <h1 style="color: white;flex-basis: 25%;">Time: {{showdata[6]}} - {{showdata[7]}}</h1>
    </div>
    <form style="color:white;margin-left: 40%;">
        <h1>Available Seats:</h1>
        <h1>Number of seats:</h1><input type="text">
        <h1>Price:{{showdata[4]}}</h1>
        <h1>Total:</h1>
        <input type="submit">
    </form>
</body>
</html>